:root {
    --mørklilla: #36244d;
    --lyslilla: #dcbcfd;
    --lyslilla-rgb: 220,188,253;
    --egg: #fcf4f0;
    --lysgrøn: #e0f9f0;
    --gulhvid: #fcfaf0;
    --pink: #f2d7ca;
    --mørkpink: #f29e99;
    --mørkgrøn: #cbebdb;
  }
  
  /* General CSS */
  
  html { font-family: 'Darker Grotesque', 'Poppins', sans-serif; }
  p { font-size: 14px; color: var(--mørklilla);}
  h1 { font-size: 40px; color: var(--mørklilla);}
  h2 { font-size: 20px; color: var(--mørklilla);}
  h3 { color: var(--mørklilla);}

  * {
    margin: 0;
    padding: 0;
}


/* Nav */
#subscriptoNav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mørklilla);
    height: 101vh;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    align-items: center;
    transition: 0.5s;
    width: 0;
    }
    #subscriptoNav a {
      text-align: center;
      align-items: center;
      padding-top: 25px;
    }
    
    .openbtn {
      font-size: 40px;
      cursor: pointer;
      color: var(--mørklilla);
      padding: 10px 15px;
      border: none;
      z-index: 10;
      margin-left: 50px;
      margin-top: 40px;
      background-color: inherit;
    }
    .closebtn {
      font-size: 40px;
      color: white;
      text-decoration: none;
    }
    
    #subscriptoNav a {
      text-align: center;
      align-items: center;
    }
    
    .navicon img {
      max-height: 25px;
      filter: invert(1);
    }






    footer {
        height: 75px;
        background-color: var(--mørklilla);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
      }
      footer p {
        color: var(--egg);
      }




    /* Search Button */
.dropbtn {
    background-color: var(--mørklilla);
    padding: 6px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn img {
    width: 25px;
    filter: invert(1);
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 600px;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-search {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    height: 300px;
    overflow-y: scroll;
    border:none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content1 a {
    color: black;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
    margin: 0;
  }
  
  .dropdown-content1 a h3 {
      text-align: start;
      font-weight: 400;
      font-size: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content1 a:hover {background-color: var(--lysgrøn)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:block;
      margin-left: -750%;
  }
  





#monthly {
    left: 30px;
}
#yearly {
    left: 1200px;
}

.form-box {
    width: 380px;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.monthly {
    background-color: var(--mørkgrøn);
    width: 200px;
    border-radius: 50px;
}
  
.yearly {
    background-color: var(--mørkgrøn);
    width: 200px;
    border-radius: 50px;
}
  
.eco-collect {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}
  
.economics {
    background-color: var(--lysgrøn);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    padding: 5px 20px;
    border-radius: 50px;
    border-style: none;
}
  
.economics .logo-names img {
    width: 40px;
    border-radius: 50px;
}

.logo-title {
    background-color: var(--lysgrøn);
    border-style:none;
    width: 150px;
}
  
.price-licens {
    display: none;
}
  
.eco-cat {
    display: none;
}
  
.total-price {
    background-color: var(--lysgrøn);
    text-align: end;
    border: none;
    outline: none;
    font-size: 15px;
    width: 70px;
}
  
.price-total {
    color: var(--egg);
    background-color: var(--mørklilla);
    border: none;
}
.total-input {
    font-size: 25px;
    background-color: var(--mørklilla);
    color: var(--egg);
    width: 200px;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 10px 0 var(--mørklilla);
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: var(--mørkgrøn);
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin-bottom: 30px;
    margin-left: 20%;
    text-align: center;
}
.social-icons input {
    padding: 10px 0;
    border-style: none;
    border-radius: 20px;
    background-color: var(--mørklilla);
    color: var(--egg);
    text-align: center;
}
.input-group {
    position: absolute;
    width: 280px;
    transition: .5s;
}

.lilla {
  width: 400px;
  display: block;
margin-left: auto;
margin-right: auto;
}






@media screen and (min-width: 490px) {
    .form-box {
        width: 680px;
        height: 1100px;
        position: relative;
        margin: 6% auto;
        padding: 5px;
        overflow: hidden;
    }

    .social-icons {
        margin-bottom: 30px;
        margin-left: 75%;
    }
    .social-icons input {
        padding: 10px 0;
        border-style: none;
        border-radius: 20px;
        text-align: center;
    }
    .eco-collect {
      display: grid;
      grid-gap: 10px;
      width: 500px;
    }
    .economics .logo-names img {
        width: 60px;
        border-radius: 50px;
    }
    .economics {
      background-color: var(--lysgrøn);
      display: grid;
      grid-template-columns: 15% 30% 25% 20% 10%;
      padding: 20px;
      border-radius: 50px;
      border-style: none;
    }
    .price-licens {
        display: block;
        text-align: end;
        background-color: var(--lysgrøn);
        border-style: none;
        width: 50px;
        font-size: 15px;
        outline:none;
    }
    .total-price {
        background-color: var(--lysgrøn);
        text-align: end;
        border: none;
        outline: none;
        font-size: 15px;
        width: 50px;
    }
    
    .eco-cat {
      display:block;
      background-color: var(--lysgrøn);
      border:none;
      font-size: 15px;
      width: 150px;
      outline:none;
    }
  
    .economics {
      width: 600px;
    }
    .logo-title {
        font-size: 15px;
        outline:none;
    }
    
  }
  
  
  @media screen and (min-width: 800px) {
    .form-box {
        width: 1100px;
        height: 1550px;
        position: relative;
        margin: 6% auto;
        padding: 5px;
        overflow: hidden;
    }
    .social-icons {
        margin-bottom: 30px;
        margin-left: 140%;
    }
    .social-icons input {
        padding: 30px 0;
        border-style: none;
        border-radius: 20px;
        text-align: center;
        font-size: 30px;
        width: 400px;
    }
    .eco-collect {
      display: grid;
      grid-gap: 10px;
    }
    .economics {
      background-color: var(--lysgrøn);
      display: grid;
      grid-template-columns: 15% 30% 25% 20% 10%;
      padding: 20px;
      border-radius: 50px;
      border-style: none;
      width: 950px;
    }
    .logo-names {
      display: grid;
      grid-template-columns: 30% 100%;
    }
    .logo-title {
        font-size: 20px;
    }
    .price-licens {
        font-size: 20px;
    }
    .total-price {
        font-size: 20px;
        font-weight: bold;
    }
    
    .eco-cat {
      font-size: 20px;
    }
    .button-box {
        width: 220px;
        margin-left: 38%;
        position: relative;
        box-shadow: 0 0 10px 0 var(--mørklilla);
        border-radius: 30px;
    }
    .toggle-btn {
        padding: 20px 30px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        position: relative;
        font-size: 14px;
    }
    #btn {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: var(--mørkgrøn);
        border-radius: 30px;
        transition: .5s;
    }
    .total-input  {
        padding: 10px;
    }
    .bar {
        width: 900px;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    
  }