/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

/* Root farver */

:root {
  --mørklilla: #36244d;
  --lyslilla: #dcbcfd;
  --lyslilla-rgb: 220,188,253;
  --egg: #fcf4f0;
  --lysgrøn: #e0f9f0;
  --gulhvid: #fcfaf0;
  --pink: #f2d7ca;
  --mørkpink: #f29e99;
  --mørkgrøn: #cbebdb;
}

/* General CSS */

html { font-family: 'Darker Grotesque', 'Poppins', sans-serif; }
/* body { margin-left: 10%; margin-top: 5%;} */
p { font-weight: 200; font-size: 20px; color: var(--mørklilla);}
h1 { font-weight: 500; font-size: 40px; color: var(--mørklilla);}
h2 { font-weight: 400; font-size: 30px; color: var(--mørklilla);}
h3 { font-weight: 300; font-size: 25px; color: var(--mørklilla);}



/* Steph */

.stephmain {
  width: 80%;
  margin: auto;
}

/* Nav */
#subscriptoNav {
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: center;
background-color: var(--gulhvid);
width: 100px;
height: 101vh;
position: fixed;
z-index: 5;
top: 0;
left: 0;
overflow-x: hidden;
transition: 0.5s;
}
#subscriptoNav a {
  text-align: center;
  align-items: center;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: var(--mørklilla);
  padding: 10px 15px;
  border: none;
  z-index: 10;
  margin-left: 20px;
  background-color: inherit;
}
.closebtn {
  font-size: 40px;
  color: var(--mørklilla);
  text-decoration: none;
}

.navicon {
  position: relative;
  display: inline-block;
  padding-top: 50px;
}
.navicon img {
  max-height: 25px;
}
/* Landing */
#logolanding {
  max-width: 40%;
  padding-left: 20px;
  transform: translateX(50%);
}
#landingwelcome {
  display: flex;
  flex-direction: row;
}
#manpic {
  max-width: 40%;
  display: grid;
  grid-area: "pic";
}


/* Profile */

.designer {
  display: flex;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  background-color: var(--mørkpink);
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -20px;
}

.subs {
  display: flex;
  align-items: center;
  align-content: center;
}

.programikon {
  width: 35px;
  margin-left: 35px;
  display: grid;
}
.boksikon {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 30px;
  align-items: center;
  border-radius: 15px;
  height: 70px;
  width: 300px;
  background-color: var(--mørkpink);
  margin-bottom: 20px;
}

/* Countdown */
#demo {
  display: flex;
  border-radius: 15px;
  font-size: 25px;
  height: 100px;
  width: 300px;
  text-align: center;
  background-color: var(--lysgrøn);
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .boksikon {
    width: 400px;
  }
  #demo {
    width: 400px;
  }
}
@media screen and (min-width: 650px) {
  .boksikon {
    width: 550px;
  }
  #demo {
    width: 550px;
  }
}
@media screen and (min-width: 1000px) {
  .gridsection {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex-grow: auto;
  }
  .boksikon {
    width: 350px;
  }
  .openbtn {
    visibility: inherit;
  }
}

/* Add sub */
.row {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: var(--gulhvid);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.long {
  background: var(--lyslilla);
  border-radius: 100px;
  color: var(--mørklilla);
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  cursor: pointer;
}


.container1{
  background: var(--lyslilla);
  border-radius: 100px;
  font-size: 20px;
  color: var(--mørklilla);
  border: none;
  width: 100%;
  cursor: pointer;
}
.container1>.overly{
  background: var(--lyslilla);
  border-radius: 100px;
  font-size: 20px;
  color: var(--mørklilla);
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.modalbox {
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(81, 51, 51, 0.5);
    z-index: 10;
    pointer-events: auto;
    display:none;
    overflow-y:auto;
}
.modalbox >.dialog {
    max-width: 100%;
    height: 100px;
    position: relative;
    top: 15%;
    margin: 5% 10%;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #ffffff;
    display: block;
    pointer-events: auto;
}

.closebutton {
    background: var(--lyslilla);
    border-radius: 100px;
    font-size: 20px;
    color: var(--mørklilla);
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


/* Caroline */
.button {
  background-color: var(--mørkpink);
  border: none;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
}

.boxed {
  border: 1px solid green ;
}














/* Fie */

/* Check Site */
.use1 {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
}

.use2 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.u {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.subscriptions{
  background-color: var(--pink);
  margin: 20px auto;
  height: 200px;
  width: 200px;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  display: grid;
  grid-gap: 10px;
}

.subscriptions h2 {
  text-align: center;
  font-size: 25px;
}

.subscriptions .logo-pics {
  display: grid;
  justify-content: center;
}

.subscriptions img {
  border-radius: 50px;
  width: 80px;
}

.check-off-box .check-off {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.subscriptions .check-off-box {
  display: grid;
  justify-content: center;
}

.use-send {
  background-color: var(--lyslilla);
  padding: 10px 40px;
  border-style: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.use-send {
  text-decoration: none;
  color: var(--mørklilla);
  font-weight:700;
}

.u-send {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.reminder {
  text-align: center;
  margin-bottom: 30px;
}

.reminder a {
  text-decoration: none;
  color: var(--mørklilla);
  font-size: 20px;
  font-weight: 400;
}

.subscriptions1 a {
  background-color: var(--lyslilla);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 20px auto;
  height: 200px;
  width: 200px;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  border-style: dashed;
  text-decoration: none;
  border-color: var(--mørklilla);
}

.subscriptions1 h2 {
  text-align: center;
  font-size: 25px;
}

.subscriptions1 .logo-pics {
  display: grid;
  justify-content: center;
}

.subscriptions1 .fa-plus-square {
  font-size: 50px;
  color: var(--mørklilla);
}

@media screen and (min-width: 610px) {
  .u {
      grid-template-columns: repeat(2,1fr);
  }
  .use-send {
      padding: 10px 70px;
      font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .use1 {
      font-size: 40px;
  }
  .u {
      grid-template-columns: repeat(3,1fr);
  }
  .use-send {
      padding: 15px 100px;
      font-size: 25px;
  }
}

/* Login */

.login-body {
  background: var(--mørklilla);
  margin: 0;
  padding: 0;
}

.login-logo {
  margin: 30px auto;
  padding: 20px;
  width: 250px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  font-size: 16px;
  color: var(--mørklilla);
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 10px;
}

.checkbox {
  text-align: center;
  color: var(--egg);
  font-size: 20px;
  margin-bottom: 30px;
}

#rememberMe {
    height: 15px;
    width: 15px;
    cursor: pointer;
}


.forgot {
  color: var(--egg);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.forgot {
    text-decoration: none;
}


.login-button {
  background-color: var(--lyslilla);
  padding: 10px 40px;
  border-style: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.log-button {
    text-align: center;
}

.quarter-circle-bottom-left{
  width: 200px;
  height: 200px;
  background: #F29E99;
  border-radius: 0 200px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -100;
}


@media screen and (min-width: 490px) {
  .login-box {
      width: 400px;
    }
    .login-button {
      padding: 10px 60px;
    }
     .login-logo img {
        left: 0;
    }
    .quarter-circle-bottom-left{
      width: 350px;
      height: 350px;
      border-radius: 0 350px 0 0;
    }
  .checkbox {
      text-align: center;
      color: var(--egg);
      font-size: 20px;
      cursor: pointer;
    }
    .forgot p {
      color: var(--egg);
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    }
}

@media screen and (min-width: 800px) {
  .login-box h1 {
      color: var(--mørklilla);
      font-size: 60px;
    }
  .login-box {
      width: 500px;
    }
    .login-button {
      padding: 15px 90px;
    }
    .quarter-circle-bottom-left{
      width: 300px;
      height: 300px;
      border-radius: 0 300px 0 0;
    }
    .login-logo {
      width: 350px;
      float: left;
    }
    .background {
      position: fixed;
      top: 0px;
      right: 0px;
      width: 60%;
      height: 100%;
      background-color: var(--pink);
      z-index: -110;
    }
    .login-box .user-box input {
      font-size: 20px;
      padding:15px;
    }
    .checkbox {
      text-align: center;
      color: var(--mørklilla);
      font-size: 20px;
      cursor: pointer;
    }
    .forgot {
      color: var(--mørklilla);
      font-size: 20px;
      text-align: center;
    }
}















/* Maja */
.license-list{
  display: flex;
  flex-direction: column;
}
.li-categories{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.li-categories p{
  border: 50px;
  border-radius: 20px;
  text-align: center;
}
.li-categories .full{
  background-color: #fcfaf0;
  width: 80px;
}
.li-categories .all{
  background-color:
}
.li-categories .des{
  background-color: #f09e9b;
  width: 90px;
}
.li-categories .dev{
  background-color: #cbebdb;
  width: 120px;
}
.li-categories .man{
  background-color: #f2d7ca;
  width: 120px;
}
.li-categories .mar{
  background-color: #e0f9f0;
  width: 120px;
}
.sub-lic{
  background-color: #fcfaf0;
}
.sub-lic .all{

}

@media (max-width: 800px) {
  .license-list{
    margin: 10px;
  }
  .li-categories{
    flex-direction: row;
    flex-wrap: wrap;

  }
}














/* Styleguide */
#sgh1 {
  font-size: 60px;
}
#typografi {
  margin-top: 50px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--lysgrøn);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 25px 8px 8px 40px;
  font-weight: 200;
  text-decoration: none;
  font-size: 30px;
  color: var(--hvid);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--rød);
}

.styleguideMain {
  margin-left: 150px;
  margin-bottom: 70px;
}

.styleguideMain h2 {
  text-align: left;
}

.styleguideMain h3 {
  text-align: left;
}

#stephBaggrund {
  background: #f2f2f2;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 15px;
  box-sizing: border-box;
}
#farver {
  display: flex;
  flex-wrap: wrap;
}

.farve1 {
  text-align: center;
  padding: 15px;
  background-color: var(--mørkpink);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}

.farve2 {
  text-align: center;
  padding: 15px;
  background-color: var(--pink);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}

.farve3 {
  text-align: center;
  padding: 15px;
  background-color: var(--gulhvid);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}

.farve4 {
  text-align: center;
  padding: 15px;
  background-color: var(--lyslilla);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}

.farve5 {
  text-align: center;
  padding: 15px;
  background-color: var(--mørklilla);
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}
.farve6 {
  text-align: center;
  padding: 15px;
  background-color: var(--lysgrøn);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}
.farve7 {
  text-align: center;
  padding: 15px;
  background-color: var(--mørkgrøn);
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  box-shadow: 7px 7px 7px #f2f2f2;
  border: 1px solid #f2f2f2;
}

.styleguideMain #stephCTA {
  margin: 0;
}

.styleguideMain textarea {
  width: 45%;
  height: 100px;
}

.styleguideMain .newsletter-box {
  padding: 20px;
  width: 70%;
  margin: 0;
}

.styleguideMain .stephLanding h2 {
  text-align: center;
}

/* On smaller screens, where height is less than 450px,
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.boxgrøn {
  padding: 20px 30px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--lysgrøn);
  border-radius: 40px;
  height: 304px;
  width: 288px;
}
.boxlilla {
  padding: 20px 30px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--lyslilla);
  border-radius: 40px;
  height: 304px;
  width: 288px;
}
.boxpink {
  padding: 20px 30px;
  margin: 20px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--mediumpink);
  border-radius: 40px;
  height: 304px;
  width: 288px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.spaces-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 56px;
  width: 60%;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 16px 40px;
  background: var(--lyslilla);
  border-radius: 100px;
  font-size: 16px;
  color: var(--mørklilla);
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.logout {
  margin-top: 50px;
  display: flex;
  border: 0;
  padding: 16px 40px;
  background: var(--pink);
  border-radius: 100px;
  font-size: 16px;
  color: var(--mørklilla);
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;

}
